@model IEnumerable<Artist>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Artists</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Artist" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i> &nbsp; Add Artist 
            </a>
        </div>
    </div>

    <br/> <br/>

    <table class="table table-bordered table-striped " style="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Nationality
                </th>
                <th>
                    Date of Birth
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="30%">
                        @obj.Name                
                    </td>
                    <td width="30%">
                        @obj.Nationality
                    </td>
                    <td width="20%">
                        @obj.DateOfBirth
                    </td>

                </tr>
            

            }
        </tbody>
    </table>
</div>
